* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.canvas-container{
    background-color: lightgray;
    width:80vw;
    padding:20px;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

canvas{
    background-color: #fff;
    border: 1px solid black;
}

.gallery-container img{
    width:200px;
    cursor: pointer;
}
