/* mobile */

@media (max-width:540px) {
    .editor-layout {
        display: grid;
        grid-template-columns: 1fr
    }

    .canvas-container {
        width: 70vw;
    }

    .filter-container {
        display: none;
    }
    .editor-container {
        display: none;
    }
    .toggle-container {
        display:flex
    }

}

/* small */

@media (min-width:540px) {
    .editor-layout {
        display: grid;
        grid-template-columns: 1fr
    }

    .canvas-container {
        width: 50vw;
        max-width: 80vw;
    }

    .filter-container {
        overflow: hidden;
    }
    .editor-container {
        display: none;
    }
}

/* medium */
@media (min-width:690px){
    .saved {
        display: none;
    }
}


/* large*/

@media (min-width:840px) {
    .editor-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .controls-container {
        max-width: 60vw
    }
    .canvas-container {
        max-width: 450px
    }
    .editor-container {
        display: none;
    }

    .saved {
        display: flex;
    }
}