.text-input {
    width: 30vw;
    height: 5vh;
    border-radius: 1.25rem;
}

.search-bar {
    grid-column: 2/6;
    grid-row: 1;
    border: none;
    cursor: pointer;
}

.switch-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 2;
    grid-column: 3;
    border: none;
    cursor: pointer;
    color: white;
    background-color: lightblue;
}

.add-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 2;
    grid-column: 4;
    border: none;
    cursor: pointer;
    color:white;
    background-color: lightgreen;
}

.del-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 2;
    grid-column: 5;
    border: none;
    cursor: pointer;
    color:white;
    background-color:red
}

.inc-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 3;
    grid-column: 2;
    border: none;
    cursor: pointer;
}

.dec-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 3;
    grid-column: 3;
    border: none;
    cursor: pointer;
}

.left-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 3;
    grid-column: 4;
    border: none;
    cursor: pointer;
}

.center-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 3;
    grid-column: 5;
    border: none;
    cursor: pointer;
}

.right-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 3;
    grid-column: 6;
    border: none;
    cursor: pointer;
}


.download-btn {
    align-self: center;
    justify-self: center;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 1;
    grid-column: 6;
    background-color: white;
    border: none;
    cursor: pointer;
    background-color:white;
    overflow: hidden;
}

.color-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 4;
    grid-column: 2;
    border: none;
    cursor: pointer;
}

.stroke-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 4;
    grid-column: 6;
    border: none;
    cursor: pointer;
}

.share-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 4;
    grid-column: 4;
    border: none;
    cursor: pointer;
    color:white;
    background-color:blue
}

.save-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 4;
    grid-column: 3;
    border: none;
    cursor: pointer;
    color:white;
    background-color:rgb(92, 92, 2)
}

.whatsapp-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    grid-row: 4;
    grid-column: 5;
    border: none;
    cursor: pointer;
    color:white;
    background-color:green
}
