* {
    box-sizing: border-box;
}

html {
    font-family: poppins;
}

body {
    text-align: center;
    margin: 0;
    background-color: #22252c;
}

.filter-container {
    background-image: linear-gradient(-86deg, #33be6d 0, #0c98b9 100%);
    width: 50vw;
    height: 5vh;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px
}

.filter-container button {
    border: none;
    align-self: center;
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;

}

.filter-container button:hover {
    background-color: #5f5f5f;
    border-radius: 30px;
}

.editor-container {
    display: none;
}

.li-active {
    width: 116px;
    border-radius: 20px;
    background-color: #fefefe;
    color: #21ac91 !important
}

.search-container {
    display: flex;
    padding: 10px;
    margin: 0;
    position: relative;
    align-items: center;
    gap: 10px
}

input[type="search"] {
    width: 40vw;
    height: 5vh;
    border-radius: 30px;
    background-color: #22252c;
}

input[type="search"]::placeholder {
    font-size: 1.3125em;
    font-family: poppins;
    font-weight: 300;
    padding: 30px;
}

.upload-container {
    align-items: center;
    justify-content: center;
    display: none;
}

.file-input-btn {
    width: 100vw;
    height: 3vh;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-86deg, #33be6d 0, #0c98b9 100%);
    border-radius: 7px;
}

::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 7px;
}

.toggle-container {
    display:none;
    background-color: #22252c;
    width: 50vw;
    height: 5vh;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    
}
.toggle-container select {
    text-align: center;
    color:white;
    width:100%;
    height: 5vh;
    border-radius: 30px;
    background-image: linear-gradient(-86deg, #33be6d 0, #0c98b9 100%);
}

.toggle-container select option {
    border-radius: 30px;
background-color: #22252c;
}