* {
    box-sizing: border-box;
}

html {
    font-family: poppins;
}

body {
    text-align: center;
    margin: 0;
    background-color: #22252c;
}

.canvas-container {
    background-color: lightgray;
    width: 80vw;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

canvas {
    background-color: #fff;
    border: 1px solid black;
}

.search-container {
    display: flex;
    padding: 10px;
    margin: 0;
    position: relative;
    align-items: center;
    gap: 10px
}

input[type="search"] {

    width: 40vw;
    height: 5vh;
    border-radius: 30px;
    background-color: #22252c;
}

input[type="search"]::placeholder {
    font-size: 1.3125em;
    font-family: poppins;
    font-weight: 300;
    padding: 30px;
}


.filter-container {
    background-color: grey;
    width: 40vw;
    height: 5vh;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px
}

.filter-container button {
    border: none;
    align-self: center;
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    
    }
    
    .filter-container button:hover {
        background-color: #777;
    }
    
.hidden {
    display: none;
}

.editor-container {
    display: none;
}

/* button[type="submit"] { */
/* position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #22252c;
    border: none;
    cursor: pointer; */
/* background-color: #22252c;
    border: none;
    cursor: pointer;
    padding: 10px; /* Adjust padding as needed */
/* background-image: linear-gradient(-86deg, #33bd6d 0%, #0b97b9 100%); */
/* } */