* {
    box-sizing: border-box;
}

.main-layout {
    display: grid;
    grid-template-columns: minmax(2px, 10px) auto minmax(2px, 10px);
}

.main-layout>* {
    grid-column: 2;
    background-color: #383b42;
    ;
}

.main-layout>.full {
    grid-column: 1/-1;
}

/* gallery-layout */

.gallery-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 10px;
    padding: 10px;
}


.gallery-layout img {
    width: 100%;
    border-radius: 20px;
}

/* editor-layout */

.editor-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items:center;
    align-items: center;
    padding:10px;
}

.canvas-container {
    background-color: #22252c;
    width: 35vw;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.controls-container {
    display: grid;
    gap:0.625rem;
    width:100%;
    max-width: 22rem;
    margin: 1.25rem 0;
    background-color: #22252c;
    align-items: center;
    border-radius: 20px;
    padding:5px;
}




