* {
    box-sizing: border-box;
}

.main-layout {
    display: grid;
    grid-template-columns: minmax(2px, 0.625rem) auto minmax(2px, 0.625rem);
}

.main-layout>* {
    grid-column: 2;
    background-color: #383b42;
    ;
}

.main-layout>.full {
    grid-column: 1/-1;
}

/* gallery-layout */

.gallery-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
    gap: 0.625rem;
    padding: 0.625rem;
}


.gallery-layout img {
    width: 100%;
    border-radius: 1.25rem;
}

/* editor-layout */

.editor-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    justify-items: center;
    align-items: center;
    padding: 0.625rem;
}

.canvas-container {
    background-color: #22252c;
    width: 35vw;
    padding: 1.25rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
}

.controls-container {
    display: grid;
    gap: 0.625rem;
    width: 100%;
    max-width: 22rem;
    margin: 1.25rem 0;
    background-color: #22252c;
    align-items: center;
    border-radius: 1.25rem;
    padding: 0.3125rem;
}